########################
## ZABonline (Wavemaker)
########################

source/wavemaker/projects/ZABonline/webapproot/resources/tmp/
source/wavemaker/projects/ZABonline/webapproot/WEB-INF/lib/
*.class
*.a.js
timestamp.txt
wm.log
log4j.properties
