/CatalogService.spring.xml
/FileUploadDownload.spring.xml
/RegistryService.spring.xml
/ResultStructs.spring.xml
/ZABonlineDB.properties
/ZABonlineDB.spring.xml
/CatalogService/
/MiscellaneousAnonym/
/RegistryService/
/ResultStructs/
/ZABonlineAdminService/
/ZABonlineDB/
/ZABonlineDBService/
/ZABonlineGrantsService/
/ZABonlineSessionMgrService/
/addressBookService/
/readme.md
/securityService/
